<% if user_signed_in? %>
  <li>
  <%= link_to 'Edit Profile', edit_profile_path(current_user.profile) %>        
  </li>
  
  <li>
  <%= link_to 'Add Services', new_service_path %>        
  </li>
  
<% end %>
